@import url(root.css);

/* CONTACT SECTION */
.contact-wrapper {
  background-color: var(--background-section-color);
  padding: 2.5rem;
  width: 80%;
}

.contact-info-box {
  background-color: var(--background-wrapper-color);
  box-shadow: 1.25rem 1.25rem 1.25rem var(--shadow-color);
  padding: 2rem;
}

.contact-text {
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid var(--heading-3-color);
}

.contact-items-box {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 3rem;
}

.map-wrapper {
  margin-bottom: 2.5rem;

  border: 1px solid var(--text-color);
}

.contact-items-box .contact-items {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
}

.contact-items h3 {
  font-size: 1.5rem;
}

.contact-items .contact-box,
.contact-items .adress-box,
.contact-items .opening-hours-box {
  width: 100%;
  flex: 0;
}
/* MEDIA QUERIES FOR CONTACT SECTION */
@media (max-width: 1200px) {
  .contact-wrapper {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .map-wrapper iframe {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .contact-wrapper {
    width: 100%;
  }

  .contact-items-box {
    flex-direction: column-reverse;
  }

  .map-wrapper iframe {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact-wrapper {
    padding: 0;
    width: 100%;
  }
}
